# SMTP Configuration (Set to localhost for testing, change to real SMTP for production)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=test@example.com
SMTP_PASSWORD=testpassword
EMAIL_SENDER=test@example.com
EMAIL_RECIPIENT=recipient@exam

# Filters
TARGET_CATEGORY=IT & Telecoms
TARGET_LOCATION=LUSAKA

# Database Path
DATABASE_PATH=data/jobs.db

# Category Mappings YAML file
path
MAPPINGS_FILE_PATH=category_mappings.yaml
